<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Document - Account</title>
        <meta property="og:title" content="Document - Account" />
        <link rel="icon" href="/assets/logo.png">
        <meta property="og:image" content="/assets/logo.png">
        <meta name="theme-color" content="#5865F2">
        <meta name="description" content="Some page description..." />
        <meta property="og:type" content="website" />
        <meta property="og:description" content="Some page description..." />
    </head>
    <body>
        <%- include('_header') %>
        <h1><%= user.username + '#' + user.discriminator %></h1>
        <h3><%= user.email %></h3>
        <h3><%= user.id %></h3>
        <%- include('_footer') %>
    </body>
</html>
